<h1><%= @ritly.hashcode %> is your code for <%= @ritly.url %></h1>

<p>You can direct to this Ritly URL: <a href="<%= @ritly.url %>"><%= @ritly.url %></a></p>
<br>
<p>The Ritly URL will redirect them to: <a href="<%= preview_rit_path %>" target="_blank"><%= @ritly.hashcode %></a></p>